{{#each questions}}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{course.course}}</h2>
              <p class="card-text">{{question}}</p>
              <a href="/admin/doubt/answer/{{id}}" class="btn btn-primary">Answer &rarr;</a>
              {{#empty file}}
              <a href="/admin/doubt/download/{{id}}" style="float:right"><i class="fa fa-download btn btn-primary" aria-hidden="true"> Files</i></a>
              {{/empty}}
            </div>
            <div class="card-footer text-muted">
              Posted on {{date}} by
              <span style="font-weight:bold">{{name}}</span>
            </div>
          </div>
{{/each}}